{%extends "base.html" %}
{%block content%}

<style>
    #body{
        background-color: rgb(221, 230, 237);
    }

    .nav-navbar{
        background-color: rgb(221, 230, 237);
    }

    #searchForm{
        display: none;
    }

    .info{
        display: flex;
        padding: 5px 10px;
        background-color: #fff;
        width: 95%;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        filter: blur(10px);
        opacity: .35;
    }

    #main{
        display: flex;
        justify-content: center;
    }

    #img img {
        border-radius: 8px;
        border: 0.4px solid rgb(29, 29, 29);
    }

    #img{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 13crem;
        margin: 4px 7px;
        
        
    }

    #desc span{
        color: rgb(32, 33, 37);
        width: 100%;
        font-weight: bolder;
    }
</style>
<main id="main">

<div class="info">

    <div class="iuehfuyr">
        <div class="img" id="img">
            <img src="" alt="">
            
        </div>
    
        <div class="main">
            <div class="desc" id="desc">
                <span style="font-size: 1.3rem"></span><br>
                
            </div>
        </div>
    </div>

</div>




</main>
<script>

    const base_url = "https://api.jikan.moe/v3/anime/{{animeId}}";
    let img = document.querySelector("#img img");
    let title = document.querySelector("#desc span");
    let desc = document.querySelector("#desc");
    let info = document.querySelector(".info");


    function search(url) {
        fetch(`${url}`)
            .then(res => res.json())
            .then(data => sResult(data))
            .catch(err => console.warn(err.message));
    }

    function sResult(data){
        console.log(data);
        img.src = data["image_url"];
        title.innerHTML = data["title"];
        desc.innerHTML += data["synopsis"]
        info.style.backgroundImage = `url('${data["image_url"]}')`;
        
    }

    search(base_url)


</script>

{% endblock %}