

{%extends "base.html" %}
{%block content%}

<style>

    .watch{
        display: block;
        padding: 10px;
        margin: 3px;
    }

</style>
<link rel="stylesheet" href="{{  url_for('static', filename='css/anime.css') }}">
<main id="main">

<div class="info">
<div class="background"></div>
    <div class="iuehfuyr">
        <div class="img" id="img">
            <img src="" alt="">
        </div>
    
        <div class="main">
            <div class="desc" id="desc">
                <span id="title" style="font-size: 1.3rem"></span><br>
                
            </div>
        </div>
    </div>

</div>
<br>


<div class="info" style="display: flex;flex-wrap: wrap">
    
    {% for i in range(loopRange) %}
    
    <a href="/anime/episodes/{{ep[i]}}"><button class="watch"> {{i+1}} </button></a>
    
    {% endfor %}

</div>

</div>
    
<br>



</main><br><br><br>
<script>

    

const base_url = "https://api.jikan.moe/v3/anime/{{animeId}}";

</script>
<script src="{{ url_for('static', filename='js/anime.js') }}"></script>

{% endblock %}
