

{%extends "base.html" %}
{%block content%}

<style>

    .watch{
        padding: 2px 0;
        font-size: 1.1rem;
        border-radius: 5px;
        border: 0.5px solid rgb(22, 125, 236);
        background-color: rgb(0, 85, 212);
        font-weight: bold;
        color: #fff;
        height: 40px;
        width: 44px;
    }
    
    .watch:hover{
        background: #000;
        transition: 0.4s ease-in-out;
    }
    
    a{
        margin: 6px;
    }
</style>
<link rel="stylesheet" href="{{  url_for('static', filename='css/anime.css') }}">
<main id="main">

<div class="info">
<div class="background"></div>
    <div class="iuehfuyr">
        <div class="img" id="img">
            <img src="" alt="">
        </div>
    
        <div class="main">
            <div class="desc" id="desc">
                <span id="title" style="font-size: 1.3rem"></span><br>
                
            </div>
        </div>
    </div>

</div>
<br>


<div class="info">
    <h2 style="text-align: center">Download Episodes</h2>
    <div style="display: flex;flex-wrap: wrap;align-items: center;">
        {% for i in range(loopRange) %}
        
        <a href="/anime/episodes/{{ep[i]}}"><button class="watch"> {{i+1}} </button></a>
        
        {% endfor %}
    </div>

</div>

</div>
    
<br>



</main><br><br><br>
<script>
    

const base_url = "https://api.jikan.moe/v3/anime/{{animeId}}";

</script>
<script src="{{ url_for('static', filename='js/anime.js') }}"></script>

{% endblock %}
