

{%extends "base.html" %}
{%block content%}

<style>


</style>
<link rel="stylesheet" href="static/css/anime.css">
<main id="main">

<div class="info">
<div class="background"></div>
    <div class="iuehfuyr">
        <div class="img" id="img">
            <img src="" alt="">
            <a id="WandDBtn" href="/anime/"><button id="watch">Watch & Download</button></a>
        </div>
    
        <div class="main">
            <div class="desc" id="desc">
                <span id="title" style="font-size: 1.3rem"></span><br>
                
            </div>
        </div>
    </div>

</div>
<br>


<div class="info xjjgxxfh">
    
    {% for i in range(loopRange) %}
    
    <button> {{ep[i]}} </button>
    
    {% endfor %}

</div>

</div>
    
<br>



</main><br><br><br>
<script>

    

const base_url = "https://api.jikan.moe/v3/anime/{{animeId}}";

</script>
<script src="static/js/anime.js"></script>

{% endblock %}
