{%extends "base.html" %}
{%block content%}

<style>

/* .topAnimes .cards, .top100 .cards {
    overflow-x: auto;
    width: 100%;
    display: flex;
    margin: 0 0.2rem;
} */

.topAnimes .cards .card div{
    border-radius: 8px;
    box-shadow: 0 0 0 0.3px #333,
            inset 0 0 0 1px #333;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

.topAnimes .cards .card div:hover{
    opacity: 0.8;
    transition: 0.4s;
    z-index: 333;
    box-shadow: 1px 1px 1px #6F6F6F, 2px 2px 6px 1px #595959,inset 0 0 0 1px #333;
}

</style>


<div class="topAnimes">
    <h3>Top Animes</h3><br>
    <div class="cards" id="topAnimes">
        
        

    </div>
    <button></button>
</div><br>


<script>

    
    const sresult = document.querySelector("#topAnimes");
    const base_url = "https://api.jikan.moe/v3/top/anime";


    function sleep(sleepDuration){
    var now = new Date().getTime();
    while(new Date().getTime() < now + sleepDuration){ 
        /* Do nothing */ 
    }
}

    function search(url) {
        fetch(`${url}`)
            .then(res => res.json())
            .then(data => sResult(data))
            .catch(err => console.warn(err.message));
    }

    function sResult(data){
        let animArr = data["top"]
        for(let i = 0;i<animArr.length;i++){
            sresult.innerHTML += template(animArr[i]["title"],animArr[i]["mal_id"],animArr[i]["image_url"],animArr[i]["rank"])
        }
    }

    function template(title,id,imgUrl,rank){
        let length = (String(rank).length);
    return `
    <div class="card">
            <a href="/anime?id=${id}"><button>
                <div style="background-image: url('${imgUrl}');height:16rem;width: 11rem">
                    <span class="rank" style="width: ${length+5}ch;height: ${length+4}ch">#${rank}</span>
                    
                </div>
                <h4>${title}</h4>
            </button></a>
        </div>
    `;
    }

    let pageNum = 2
    for (let index = 1; index < pageNum+1; index++) {
        
        search(base_url+`/${index}`);
        sleep(1500)
    }
    

</script>

{% endblock %}