{%extends "base.html" %}
{%block content%}

<style>

/* .topAnimes .cards, .top100 .cards {
    overflow-x: auto;
    width: 100%;
    display: flex;
    margin: 0 0.2rem;
} */

.rank{
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    z-index: 1;
    background-color: #333;
    padding: 0 10px;
    border-radius: 8px 8px 0 0;
    min-width: 5ch;
}

.topAnimes .cards .card img{
    border-radius: 0 0 8px 8px;
    border: 1px solid #333;
    border-top: none;
    box-shadow: inset 0 0 0 5px #333;
}
</style>


<div class="topAnimes">
    <h3>Top Animes</h3>
    <div class="cards" id="topAnimes">
        
        

    </div>
    <button></button>
</div><br>


<script>

    
    const sresult = document.querySelector("#topAnimes");
    const base_url = "https://api.jikan.moe/v3/top/anime";

    function search(url) {
        fetch(`${url}`)
            .then(res => res.json())
            .then(data => sResult(data))
            .catch(err => console.warn(err.message));
    }

    function sResult(data){
        let animArr = data["top"]
        for(let i = 0;i<animArr.length;i++){
            sresult.innerHTML += template(animArr[i]["title"],animArr[i]["url"],animArr[i]["image_url"],animArr[i]["rank"])
        }
    }

    function template(title,url,imgUrl,rank){
    return `
    <div class="card">
            <a href="${url}"><button>
                <div>
                    <span class="rank">#${rank}</span>
                    <img src="${imgUrl}">
                </div>
                <h4>${title}</h4>
            </button></a>
        </div>
    `
    }

    search(base_url)

</script>

{% endblock %}