{%extends "base.html" %}
{%block content%}
<style>

.card button div img{
    transition: 0.4s;
    z-index: 333;
    box-shadow: 0.3px 0.3px 1px #6F6F6F, 0.2px 0.2px 1px  #595959;
}

</style>

<div class="topAnimes">

    <div class="cards" id="Sresult">
        
    </div>

</div>



<script>
    
    const sresult = document.querySelector("#Sresult");
    let query = `{{query}}`;
    const base_url = "https://api.jikan.moe/v3";
    let last_page = ""
    

function search(url,pageNumber,query) {
    fetch(`${url}/search/anime?q=${query}&page=${pageNumber}`)
        .then(res => res.json())
        .then(data => sResult(data))
        .catch(err => console.warn(err.message));
}

function sResult(data){
    let animArr = data["results"]
    for(let i = 0;i<animArr.length;i++){
        console.log(animArr[i]["title"],i);
        sresult.innerHTML += template(animArr[i]["title"],animArr[i]["url"],animArr[i]["image_url"])
        last_page = data["last_page"]
    }
}

function template(title,url,imgUrl){
    return `
    <div class="card">
            <a href="${url}"><button>
                <div>
                    <img src="${imgUrl}">
                </div>
                <h4>${title}</h4>
            </button></a>
        </div>
    `
}

search(base_url,1,query)

</script>
{% endblock %}