{%extends "base.html" %}
{%block content%}
<style>

.card button div img{
    transition: 0.4s;
    z-index: 333;
    box-shadow: 0.3px 0.3px 1px #6F6F6F, 0.2px 0.2px 1px  #595959;
}

#btn{
    display: block;
}

#loadMore{
    display: block;
    margin: auto;
    padding: 5px 13px;
    font-size: 1rem;
    background-color: #595959;
    color: #fff;
    border: none;
    border-radius: 6px;
}

#loadMore:hover{
    background-color: #313131;
    box-shadow: 1px 1px 10px #31313175;
    transition: 0.4s;
}

</style>

<div class="topAnimes">

    <div class="cards" id="Sresult">
        
    </div>
<br><br>
    <div id="btn">
        <button id="loadMore" onclick="loadAnime()">Load More</button>
    </div>
</div>

<br><br>



<script>
    
    const sresult = document.querySelector("#Sresult");
    let query = `{{query}}`;
    const base_url = "https://api.jikan.moe/v3";
    let last_page = ""


    function search(url,pageNumber,query) {
    fetch(`${url}/search/anime?q=${query}&page=${pageNumber}`)
        .then(res => res.json())
        .then(data => sResult(data))
        .catch(err => console.warn(err.message));
    }

    function sResult(data){
        let animArr = data["results"]
        for(let i = 0;i<animArr.length;i++){
            sresult.innerHTML += template(animArr[i]["title"],animArr[i]["url"],animArr[i]["image_url"])
        }
        last_page = data["last_page"];
    }

    function template(title,url,imgUrl){
    return `
    <div class="card">
            <a href="${url}"><button>
                <div>
                    <img src="${imgUrl}">
                </div>
                <h4>${title}</h4>
            </button></a>
        </div>
    `
    }
    sessionStorage.setItem("page", 2);
    search(base_url,1,query)

    function loadAnime(){
        page = sessionStorage.getItem("page");
        search(base_url,page,query);
        sessionStorage.removeItem('image');
        sessionStorage.setItem("page",Number(page)+1);
        if (Number(page) == last_page) {
            document.querySelector("#loadMore").style.display = "none";
        }
    }

</script>
{% endblock %}