{%extends "base.html" %}
{%block content%}
<style>

#err{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 14rem;
    height: 3rem;
    background: rgba(249, 102, 83, 0.784);
    border-radius: 8px;
    border: 1px solid #fff;
    outline: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0.6px 0.6px 2px rgba(0, 0, 0, 0.853);
    display: none;
}

</style>

<div class="topAnimes">

    <div class="cards" id="Sresult">
        
    </div>
<br><br>
    <div id="btn">
        <button id="loadMore" onclick="loadAnime()">Load More</button>
    </div>
</div>

<div id="err">
    <svg style="fill: #fff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
      </svg>&nbsp; <strong style="color: #fff;">500</strong>&nbsp;<span style="color: #fff;">Internal Server Error!</span>
</div>

<br><br>



<script>
    
    const sresult = document.querySelector("#Sresult");
    let query = `{{query}}`;
    const base_url = "https://api.jikan.moe/v3";
    let last_page = "";
    let loadMore = document.querySelector("#loadMore");

    function search(url,pageNumber,query) {
        loadMore.innerHTML = "Loding...";
        loadMore.disabled = true;
    fetch(`${url}/search/anime?q=${query}&page=${pageNumber}`)
        .then(res => res.json())
        .then(data => sResult(data))
        .catch(err => err());
    }

    function sResult(data){
        let animArr = data["results"]
        for(let i = 0;i<animArr.length;i++){
            sresult.innerHTML += template(animArr[i]["title"],animArr[i]["url"],animArr[i]["image_url"]);
        }
        last_page = data["last_page"];
        loadMore.innerHTML = "Load More";
        loadMore.disabled = false;
    }

    function template(title,url,imgUrl){
    return `
    <div class="card">
            <a href="${url}"><button>
                <div>
                    <img loading="lazy" src="${imgUrl}">
                </div>
                <h4>${title}</h4>
            </button></a>
        </div>
    `
    }
    sessionStorage.setItem("page", 2);
    search(base_url,1,query)

    function loadAnime(){
        page = sessionStorage.getItem("page");
        search(base_url,page,query);
        sessionStorage.removeItem('image');
        sessionStorage.setItem("page",Number(page)+1);
        if (Number(page) == last_page) {
            document.querySelector("#loadMore").style.display = "none";
        }
    }
    let error = document.querySelector("#err");
    function err(){
        setTimeout(() => {
            error.style.display = "flex";
        }, 4000);
        error.style.disabled = "none";
    }

</script>
{% endblock %}